@use "colors";

.about-page {

  p:first-of-type {
    margin-top: 0;
  }

  .img-container {
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px 10px 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    max-width: 270px;
    margin: 20px auto;

    p {
      margin: 20px 0;
    }
  }
  img {
    object-fit: cover;
    max-width: 250px;
  }
}

@media (min-width: 500px) {
  .about-page {
    .img-container {
      width: auto;
      float: left;
      margin: 0 30px 15px 0px;
    }
  }
}
