@use "colors";

.about-page {
    .img-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    img {
        height: 400px;
        object-fit: cover;
    }

    .lake-pic {
        width: 95%;

    }
}