.case-study {
    .img-hero {
        margin-bottom: 2em;
        img {
            height: 300px;
            &.mobile-img {
                height: 200px;
            }
        }
    }

    h1 {
        font-weight: 300;
        margin-bottom: 1.5em;
        span.subtitle {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            display: flex;
            margin-bottom: -5px;
        }
    }

    .details {
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 3px 1fr 3px .70fr;
        gap: 1.5em;
        justify-items: center;
        margin: 0 auto;

        div {
            display: flex; 
            flex-direction: column;
            gap: 5px;

            ul {
            margin: 0;
            padding-left: 1em;
        }
        }

        
    }

    .border {
        align-self: center;
        justify-self: center;
        width: 1px;
        background: black;
        height: 70%;
    }
}
