@use "colors";

.city {
    transition: all 250ms ease;
    background-color: colors.$day-50;
    overflow-x: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;

    > * {
        transition: all 250ms ease;
    }

    // Border
    &:before {
        border: 5px solid colors.$day-300;
        bottom: 10px;
        content: "";
        left: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 2;
    }

    .house-container {
        bottom: 50px;
        display: flex;
        gap: 0;
        z-index: 10;
    }

    .moon {
        display: none;
    }

    .rail-container {
        bottom: 55px;
        display: flex;
        fill: colors.$day-300;
        gap: 0;
        z-index: 5;
    }

    .skyline {
        fill: colors.$day-100;
        min-height: 300px;
        position: relative;
        top: 35px;
        z-index: 0;
    }

    .sun {
        align-items: center;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 100px;
        display: flex;
        height: 150px;
        justify-content: center;
        position: absolute;
        right: 20%;
        top: 15%;
        width: 150px;
        z-index: 9;

        & > div {
            background: white;
            border-radius: 50px;
            height: 75px;
            opacity: 100%;
            width: 75px;
            z-index: 1000;
        }
    }

    .train-cars {
        bottom: 130px;
        display: flex;
        width: 300px;
        z-index: 5;
        position: absolute;
    }

    @keyframes train-left-to-right {
        0% {
            transform: translateX(-300px);
        }
        70% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }

    @keyframes train-right-to-left {
        0% {
            transform: translateX(100vw);
        }
        75% {
            transform: translateX(-300px);
        }
        100% {
            transform: translateX(-300px);
        }
    }

    .train-1 {
        transform: translateX(-300px);
        animation: train-left-to-right 15s forwards linear infinite 1s;
    }

    .train-2 {
        transform: translateX(100vw);
        animation: train-right-to-left 20s forwards linear infinite 8s;
    }

    svg {
        .accents,
        .house,
        .windows {
            transition: all 250ms ease;
        }
        .accents {
            fill: colors.$day-250;
        }

        .house {
            fill: colors.$day-200;
        }

        .windows {
            fill: colors.$day-100;
        }
    }

    &.home-page {
        height: 100vh;
        overflow: hidden;

        > * {
            position: absolute;
        }

        .house-base {
            background-color: colors.$day-200;
            bottom: 0;
            height: 60px;
            position: absolute;
            top: auto;
            width: 100%;
            z-index: 11;
            
        }

        .skyline {
            bottom: 0;
            position: absolute;
            top: auto;
        }
    }
}

.city.night {
    transition: all 250ms ease;
    background-color: colors.$night-300;

    > * {
        transition: all 250ms ease;
    }

    &:before {
        border-color: #fff;
    }

    .house-base {
        background-color: colors.$night-300;
    }

    .moon {
        color: white;
        display: block;
        height: 100px;
        opacity: 90%;
        position: absolute;
        right: 22%;
        top: 17%;
        transform: rotateY(180deg) rotate(25deg);
        width: 100px;
    }

    .rail-container {
        fill: colors.$night-300;
    }

    .skyline {
        fill: colors.$night-300;
    }

    .sun {
        display: none;
    }

    .train-car {
        .train {
            fill: colors.$night-300;
        }

        .windows {
            fill: colors.$night-50;
        }
    }

    svg {
        .accents,
        .house,
        .windows {
            transition: all 250ms ease;
        }
        .accents {
            fill: colors.$night-250;
        }

        .house {
            fill: colors.$night-200;
        }

        .windows {
            fill: colors.$night-50;
        }
    }

    &.home-page {
        .house-base {
            background-color: colors.$night-200;
        }

        .skyline {
            fill: colors.$night-100;
        }
    }
}

.houses {
    height: 100px;
}

svg.rail {
    height: 75px;
}

svg.train-car {
    .train {
        color: colors.$day-300;
    }

    .windows {
        color: colors.$day-50;
    }
}

@media (max-width: 1000px) {
    .city .sun {
        height: 100px;
        width: 100px;

        & > div {
            height: 50px;
            width: 50px;
        }
    }
}
