@use "colors";

// #e7d6d2

.city {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0;
  background-color: colors.$day-50;
  overflow-x: hidden;

  // Border
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 5px solid colors.$day-300;
    z-index: 2;
    // background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  }

  .moon {
    display: none;
  }

  .sun {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    top: 15%;
    right: 20%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      width: 75px;
      height: 75px;
      background: white;
      border-radius: 50px;
      opacity: 100%;
      z-index: 1000;
    }
  }
}

.city.night {
  background-color: colors.$night-250;

  .sun {
    // FIX ME: Animate this out of the way on transition
    display: none;
  }

  .moon {
    display: block;
    position: absolute;
    top: 17%;
    right: 22%;
    color: white;
    width: 100px;
    height: 100px;
    opacity: 90%;
    transform: rotateY(180deg) rotate(25deg);
  }

  &:before {
    border-color: #fff;
  }

  &.home-page {
    background-color: colors.$night-300;
    .house-base {
      background-color: colors.$night-200;
    }
    .skyline {
      fill: colors.$night-100;
    }
  }

  .house-base {
    background-color: colors.$night-300;
  }

  svg {
    .windows {
      fill: colors.$night-50;
    }

    .accents {
      fill: colors.$night-250;
    }

    .house {
      fill: colors.$night-200;
    }
  }

  .skyline {
    fill: colors.$night-300;
  }
  .rail-container {
    fill: colors.$night-300;
  }
  .train-car {
    .windows {
      fill: colors.$night-50;
    }
    .train {
      fill: colors.$night-300;
    }
  }
}

svg.rail {
  height: 75px;
}

svg.train-car {
  .windows {
    color: colors.$day-50;
  }
  .train {
    color: colors.$day-300;
  }
}

.houses {
  height: 100px;
  // Width here is 659
}

.city {
  &.home-page {
    overflow: hidden;
    height: 100vh;

    > * {
      position: absolute;
    }

    .skyline {
      position: absolute;
      top: auto;
      bottom: 0;
    }

    .house-base {
      position: absolute;
      top: auto;
      height: 60px;
      width: 100%;
      bottom: 0;
      z-index: 11;
      background-color: colors.$day-200;
    }
  }

  .skyline {
    position: relative;
    top: 35px;
    z-index: 1;
    min-height: 300px;
    fill: colors.$day-100;
  }

  .house-base {
    position: relative;
    margin-top: -125px;
    width: 100%;
    bottom: 0;
    background-color: colors.$day-50
  }

  .house-container {
    display: flex;
    gap: 0;
    bottom: 50px;
    z-index: 10;
  }

  svg {
    .windows {
      fill: colors.$day-100;
    }

    .accents {
      fill: colors.$day-250;
    }

    .house {
      fill: colors.$day-200;
    }
  }

  .rail-container {
    display: flex;
    gap: 0;
    bottom: 55px;
    z-index: 5;
    fill: colors.$day-300;
  }

  .train-cars {
    display: flex;
    width: 300px;
    bottom: 130px;
    z-index: 5;
  }
}

@media (max-width: 1000px) {
  .city .sun {
    width: 100px;
    height: 100px;

    & > div {
      width: 50px;
      height: 50px;
    }
  }
}
