    $day-300: #744B53;
    $day-250: #B39390;
    $day-200: #c7aba8;
    $day-100: #e9d0ca;
    $day-50: #F3EBE3;

    $night-300: #4E6255; 
    $night-250: #6d7f76;
    $night-200: #829087;
    $night-100: #9CA7A0;
    $night-50: #DBDEDC;