@use "colors";

.home {
    color: colors.$day-300;
    font-weight: 200;
    left: 20%;
    position: fixed;
    top: 35%;
    transition: color 250ms ease; 

    h1 {
        font-size: 80px;
        font-weight: 300;
        letter-spacing: -1px;
        line-height: 0.85;
        margin: 0;
    }

    p {
        letter-spacing: 1px;
        margin: 0;
        text-align: right;
    }
}

.night .home {
    color: #fff;
    transition: color 250ms ease; 
}

@media (max-width: 700px) {
    .home {
        left: 15%;

        h1 {
            font-size: 65px;
        }

        p {
            margin: 3px -50px 0 0;
            text-align: right;
        }
    }
}

@media (max-width: 490px) {
    .home {
        left: 12%;

        h1 {
            font-size: 48px;
        }

        p {
            flex-direction: column;
            margin: 10px 0 0 0;
        }
    }
}
