@use 'colors';

.home {
    position: absolute;
    color: colors.$day-300;
    left: 20%;
    top: 35%;
    font-weight: 200;

        h1 {
        margin: 0;
        font-size: 80px;
        line-height: .85;
        font-weight: 300;
        letter-spacing: -1px;
    }

    p {
        text-align: right;
        letter-spacing: 1px;
        margin: 0;
    }

    
}

.night .home {
    color: #fff

}
