@use "colors";

nav {
    display: contents;
}

.external-links,
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: colors.$day-300;

    li {
        align-items: center;
        display: flex;
    }

    a {
        color: inherit;
        font-weight: 300;
        text-decoration: none;
        opacity: 100%;

        &:hover {
            opacity: 85%;
        }
    }
}

.nav-ribbon {
    display: flex;
    justify-content: space-between;
    left: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 900;

    .day-night-toggle {
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        display: flex;
        height: 35px;
        position: relative;
        transition: all 150ms ease;
        width: 70px;
        z-index: 20;

        svg {
            color: colors.$day-250;
            padding-left: 35px;
        }

        &:before {
            background-color: colors.$day-300;
            border-radius: 50px;
            content: "";
            height: 25px;
            left: 5px;
            position: absolute;
            transition: transform 150ms ease;
            transform: translateX(0);
            width: 25px;
        }
    }

    .nav-drawer-toggle {
        background: transparent;
        border: none;
        color: colors.$day-300;
        display: none;
    }
}

.night .nav-ribbon {
    .day-night-toggle {
        background-color: colors.$night-50;
        transition: all 150ms ease;

        svg {
            color: colors.$night-300;
            padding: 0;
        }

        &:before {
            transition: all 150ms ease;
            background-color: colors.$night-300;
            transform: translateX(35px);
        }
    }

    .nav-drawer-toggle {
        color: #fff;
    }
}

.drawer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;

    .close-drawer-button {
        background: transparent;
        border: none;
        color: colors.$day-300;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .internal-links {
        flex-direction: column;
        font-size: 20px;
        gap: 40px;
        margin-bottom: 80px;

        li a {
            text-align: center;
        }
    }
}

.night.drawer-container {
    nav ul, button {
        color: #fff;
    }
}
.footer-block .external-links {
    color: #fff;
}

@media (max-width: 700px) {
    .nav-ribbon {
        .nav-drawer-toggle {
            display: block;
        }

        nav {
            display: none;
        }
    }
}
