@use "colors";

nav {
    display: contents;

    ul {
        display: flex;
        gap: 25px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            align-items: center;
            display: flex;
        }

        a {
            color: colors.$day-300;
            font-weight: 300;
            text-decoration: none;
        }
    }
}

.nav-ribbon {
    display: flex;
    justify-content: space-between;
    left: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 900;

    .day-night-toggle {
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        display: flex;
        height: 35px;
        position: relative;
        width: 70px;
        z-index: 20;

        svg {
            color: colors.$day-250;
            padding-left: 35px;
        }

        &:before {
            background-color: colors.$day-300;
            border-radius: 50px;
            content: "";
            height: 25px;
            left: 5px;
            position: absolute;
            width: 25px;
        }
    }

    .nav-drawer-toggle {
        background: transparent;
        border: none;
        color: colors.$day-300;
        display: none;
    }
}

.night .nav-ribbon {
    .day-night-toggle {
        background-color: colors.$night-50;

        svg {
            color: colors.$night-300;
            padding: 0;
        }

        &:before {
            background-color: colors.$night-300;
            left: auto;
            right: 5px;
        }
    }

    .nav-drawer-toggle {
        color: #fff;
    }

    nav {
        a {
            color: #fff;
        }
    }
}

.drawer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;

    .close-drawer-button {
        background: transparent;
        border: none;
        color: colors.$day-300;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .internal-links {
        flex-direction: column;
        font-size: 20px;
        gap: 40px;
        margin-bottom: 80px;

        li a {
            text-align: center;
        }
    }
}

@media (max-width: 700px) {
    .nav-ribbon {
        .nav-drawer-toggle {
            display: block;
        }

        nav {
            display: none;
        }
    }
}

