@use 'colors';

.night {
    .page-container {
        color: #fff;
    }
}
.page-container {
    position: relative;
    top: 25vh;
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 5;
    color: colors.$day-300;
}