@use 'colors';

.page-container {
    color: colors.$day-300;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 800px;
    padding-bottom: 2em;
    position: relative;
    width: 85%;
    z-index: 5;

    h1 {
        margin-bottom: 0em;
    }

    h2 {
        width: 100%;
    }
}

.night .page-container {
    color: #fff;
}
