@use 'colors';

.night {
    .page-container {
        color: #fff;
    }
}
.page-container {
    position: relative;
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 5;
    color: colors.$day-300;
    padding-bottom: 5em;

    h1 {
        margin-bottom: .5em;
    }

    h2 {
        width: 100%;
    }
}