@use "colors";

hr {
    border-color: colors.$day-200;
    border-style: solid;
}

.night hr {
    border-color: #ffffff90;
}

.project-card {
    margin: 3em 0;
    .project-tags {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

        .project-tag {
            border: 1px solid colors.$day-300;
            padding: 5px 12px;
            font-weight: 300;
        }
    }
    .project-image {
        background-color: colors.$day-300;
        max-width: 800px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            border: 3px solid #fff;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
        }

        img {
            max-height: 200px;
            width: 90%;
            object-fit: contain;
        }
    }

    a {
        text-decoration: none;
        color: colors.$day-300;
        font-style: italic;
    }

    h2,
    p {
        margin: 10px 0;
        color: #333;
    }

    h2,
    p {
        font-weight: 300;
    }
}

.night .project-card {
    .project-tags .project-tag {
        border: 1px solid #fff;
    }

    .project-image {
        background-color: colors.$night-100;
    }

    h2,
    p,
    a {
        color: #fff;
    }
}
