@use "colors";

.city.projects-page,
.city.advanced-settings-page,
.city.about-page {
    background-color: colors.$day-100;

    .house-base {
        background: colors.$day-25;
    }

    .skyline {
        fill: colors.$day-25;
    }

    h1 {
        margin-top: 0;
    }
}

.city.night.projects-page,
.city.night.about-page,
.city.night.advanced-settings-page {
    background-color: colors.$night-250;

    .house-base {
        background: colors.$night-300;
    }

    .skyline {
        fill: colors.$night-300;
    }
}

.projects {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    margin: 2em 0;
    width: 100%;

    .projects-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h3 {
        font-weight: 300;
        margin: 0 0 0.1em;
        text-align: center;
    }
}

.big {
    grid-column: 1 / span 2;
}

.project-card {
    color: colors.$day-300;
    text-decoration: none;

    .project-image {
        align-items: center;
        background-color: colors.$day-250;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        display: flex;
        justify-content: center;
        padding: 20px;
        padding-bottom: 10px;
        position: relative;
        transition: all 150ms ease;

        > * {
            transition: all 150ms ease;
        }

        .card-text {
            background: colors.$day-50;
            color: colors.$day-300;
            font-family: "Hedvig Letters Serif", serif;
            opacity: 0%;
            padding: 6px;
            position: absolute;
            text-align: center;
            text-transform: lowercase;
            top: 50%;
            width: 75%;
        }

        img {
            max-height: 290px;
            object-fit: contain;
            width: 90%;
        }

        &:after {
            border: 3px solid colors.$day-50;
            bottom: 10px;
            content: "";
            left: 10px;
            position: absolute;
            right: 10px;
            top: 10px;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;

            .card-text {
                opacity: 100%;
            }

            > * {
                transition: all 150ms ease;
            }

            img {
                filter: blur(5px);
                transform: scale(1.06);
            }
        }
    }

    p {
        color: colors.$day-300;
        font-weight: 300;
        margin: 5px 0;
    }
}

.night .project-card {
    .card-text {
        background: colors.$night-300;
        color: #fff;
    }

    .project-image {
        background-color: colors.$night-100;

        &:after {
            border: 3px solid #fff;
        }
    }

    .project-tags .project-tag {
        border: 1px solid #fff;
    }

    a,
    h2,
    h3,
    p {
        color: #fff;
    }
}

@media (max-width: 700px) {
    .big {
        grid-column: 1;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}

