@forward "case-study";
@forward "city";
@forward "home";
@forward "nav";
@forward "page-container";
@forward "projects";
@use "colors";

.app {
    position: relative;

    .city {
        z-index: 0;
    }
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    font-weight: 200;
}

h1,
h2,
.header {
    font-family: "Hedvig Letters Serif", serif;
}
