@forward "home";
@forward "city";
@use "colors";

body {
    font-family: "Inter", sans-serif;
    background-color: colors.$day-50;
    margin: 0;

    &.night {
        background-color: colors.$night-300;

        nav {
            a {
                color: #fff;
            }
        }
    }
}

.app {
    position: relative;
    .city {
        z-index: 0;
    }
}

h1,
h2 {
    font-family: "Limelight", sans-serif;
}

.toggle {
    position: absolute;
}

.night nav {
    a {
        color: #fff;
    }
}

nav {
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 25px;

        a {
            color: colors.$day-300;
            text-decoration: none;
            font-weight: 300;
        }
    }
}
