@forward "home";
@forward "city";
@forward "nav";
@forward "page-container";
@forward "projects";
@use "colors";

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.app {
    position: relative;
    .city {
        z-index: 0;
    }
}

h1, h2 {
    font-family: "Hedvig Letters Serif", serif;
}


