@forward "case-study";
@forward "city";
@forward "home";
@forward "nav";
@forward "page-container";
@forward "projects";
@use "colors";

.app {
    position: relative;

    .city {
        z-index: 0;
    }
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    font-weight: 200;
}

h1,
h2,
.header {
    font-family: "Hedvig Letters Serif", serif;
}

.external-link {
    display: inline-flex;
    gap: 5px;
    align-items: center;

    svg {
        width: 16px;
    }

    &.icon-on-hover {
        svg {
            opacity: 0;
            transition: all 100ms ease;
        }

        &:hover {
            svg {
                opacity: 100%;
                transition: all 100ms ease;
            }
        }
    }
}

.invisible {
    clip: rect(0, 0, 0, 0);
    height: 0;
    overflow: hidden;
    width: 0;
}

.footer-block {
    color: colors.$day-300;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding-bottom: 1.5em;

    a {
        font-size: 14px;
    }

    button {
        border: 0;
        background: transparent;
        color: inherit;
        cursor: pointer;
    }

}

.night .footer-block {
    color: #fff;
}

.page-enter, .page-enter-active, .page-exit, .page-exit-active {
    background-color: green !important;
}

@media (max-width: 650px) {
    h1 {
       font-size: 40px; 
    }
    
}

@media (max-width: 450px) {
    body {
      font-size: 18px;  
    }
    
}
