@forward "home";
@forward "city";
@forward "page-container";
@use "colors";

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.app {
    position: relative;
    .city {
        z-index: 0;
    }
}

h1,
h2 {
    font-family: "Hedvig Letters Serif", serif;
}

.toggle {
    position: absolute;
}

.night nav {
    a {
        color: #fff;
    }
}

nav {
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 25px;

        a {
            color: colors.$day-300;
            text-decoration: none;
            font-weight: 300;
        }
    }
}
