.home {
  position: absolute;
  color: #744B53;
  left: 20%;
  top: 35%;
  font-weight: 200;
}
.home h1 {
  margin: 0;
  font-size: 80px;
  line-height: 0.85;
  font-weight: 300;
  letter-spacing: -1px;
}
.home p {
  text-align: right;
  letter-spacing: 1px;
  margin: 0;
}

.night .home {
  color: #fff;
}

.city:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 5px solid #744B53;
}
.city .moon {
  display: none;
}
.city .sun {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  position: absolute;
  top: 15%;
  right: 20%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city .sun > div {
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 50px;
  opacity: 100%;
  z-index: 1000;
}

.city.night {
  background-color: #6d7f76;
}
.city.night .sun {
  display: none;
}
.city.night .moon {
  display: block;
  position: absolute;
  top: 17%;
  right: 22%;
  color: white;
  width: 100px;
  height: 100px;
  opacity: 90%;
  transform: rotateY(180deg) rotate(25deg);
}
.city.night:before {
  border-color: #fff;
}
.city.night.home-page {
  background-color: #4E6255;
}
.city.night.home-page .house-base {
  background-color: #9CA7A0;
}
.city.night.home-page .skyline {
  fill: #9CA7A0;
}
.city.night .house-base {
  background-color: #4E6255;
}
.city.night svg .windows {
  fill: #DBDEDC;
}
.city.night svg .accents {
  fill: #6d7f76;
}
.city.night svg .house {
  fill: #829087;
}
.city.night .skyline {
  fill: #4E6255;
}
.city.night .rail-container {
  fill: #4E6255;
}
.city.night .train-car .windows {
  fill: #DBDEDC;
}
.city.night .train-car .train {
  fill: #4E6255;
}

svg.rail {
  height: 75px;
}

svg.train-car .windows {
  color: #F3EBE3;
}
svg.train-car .train {
  color: #744B53;
}

.houses {
  height: 100px;
}

.city {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -10;
  background-color: #F3EBE3;
}
.city > * {
  position: absolute;
}
.city .skyline {
  top: 50px;
  z-index: 1;
  min-height: 300px;
  fill: #E7D6D2;
}
.city.home-page .skyline {
  top: auto;
  bottom: 0;
}
.city.home-page .house-base {
  top: auto;
  height: 60px;
  width: 100%;
  bottom: 0;
  z-index: 11;
  background-color: #c7aba8;
}
.city .house-base {
  top: 25%;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: #E7D6D2;
}
.city .house-container {
  display: flex;
  gap: 0;
  bottom: 50px;
  z-index: 10;
}
.city svg .windows {
  fill: #e9d0ca;
}
.city svg .accents {
  fill: #B39390;
}
.city svg .house {
  fill: #c7aba8;
}
.city .rail-container {
  display: flex;
  gap: 0;
  bottom: 55px;
  z-index: 5;
  fill: #744B53;
}
.city .train-cars {
  display: flex;
  width: 300px;
  bottom: 130px;
  z-index: 5;
}

.night .page-container {
  color: #fff;
}

.page-container {
  position: relative;
  top: 200px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  z-index: 5;
  color: #744B53;
}
.page-container h1 {
  margin-top: 2em;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.app {
  position: relative;
}
.app .city {
  z-index: 0;
}

h1,
h2 {
  font-family: "Hedvig Letters Serif", serif;
}

.toggle {
  position: absolute;
}

.night nav a {
  color: #fff;
}

nav {
  top: 30px;
  right: 50%;
  transform: translateX(50%);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}
nav ul a {
  color: #744B53;
  text-decoration: none;
  font-weight: 300;
}