.case-study > * {
  transition: all 250ms ease;
}
.case-study a {
  color: #744B53;
}
.case-study .border {
  align-self: center;
  background: #744B53;
  height: 70%;
  justify-self: center;
  width: 1px;
}
.case-study .caption {
  font-size: 12px;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}
.case-study .details {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr 3px 1fr 3px 0.7fr;
  justify-items: center;
  margin: 4em auto;
  width: 90%;
}
.case-study .details div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.case-study .details div ul {
  margin: 0;
  padding-left: 1em;
}
.case-study .fullscreen-design {
  width: 100%;
}
.case-study .img-hero {
  align-items: baseline;
  display: flex;
  justify-content: center;
  margin: 4em;
  margin-left: -10px;
}
.case-study .img-hero img {
  height: 300px;
}
.case-study .img-hero img.mobile-img {
  height: 200px;
}
.case-study .overview {
  font-style: italic;
  margin-top: 0;
}
.case-study .problem-statement {
  align-items: center;
  display: flex;
  gap: 3em;
  justify-content: space-between;
}
.case-study .problem-statement .design-gif img {
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-height: 300px;
  max-width: 100%;
}
.case-study .problem-statement p.statement-block {
  margin: 0;
  width: 65%;
}
.case-study .quote-block {
  background-color: #744B53;
  color: #fff;
  padding: 1.5em;
  position: relative;
}
.case-study .quote-block:after {
  border: 2px solid #F3EBE3;
  bottom: 4px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.case-study .quote-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  margin-bottom: 10px;
}
.case-study .quotes {
  margin: 2em 0;
}
.case-study .research-block {
  background: #744B53;
  color: #fff;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1.25em 2em;
  position: relative;
}
.case-study .research-block:after {
  border: 2px solid #F3EBE3;
  bottom: 4px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.case-study .research-block div {
  align-self: center;
  justify-self: center;
}
.case-study .research-block div img {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-height: 250px;
  max-width: 100%;
}
.case-study h1 {
  font-weight: 300;
}
.case-study h1 span.subtitle {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-bottom: -15px;
}
.case-study h2 {
  border-bottom: 1px solid #744B53;
}
.case-study h3 {
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.case-study p {
  margin-top: 0.5em;
}
.case-study section {
  margin: 3em 0;
}
.case-study strong {
  font-weight: 600;
}

.night .case-study > * {
  transition: all 250ms ease;
}
.night .case-study a {
  color: #fff;
}
.night .case-study .border {
  background: #fff;
}
.night .case-study h2 {
  border-bottom: solid 1px #fff;
}
.night .case-study .quote-block,
.night .case-study .research-block {
  background-color: rgb(66.6988636364, 83.8011363636, 72.6846590909);
}

@media (max-width: 700px) {
  .case-study .details {
    gap: 0.75em;
  }
  .case-study .img-hero {
    width: 100%;
    margin: 0;
  }
  .case-study .img-hero img {
    width: 70%;
    height: auto;
  }
  .case-study .img-hero img.mobile-img {
    height: auto;
    width: 20%;
  }
  .case-study p {
    margin: 1.5em 0;
  }
  .case-study .problem-statement {
    flex-direction: column;
  }
  .case-study .problem-statement p.statement-block {
    width: 100%;
  }
  .case-study .research-block {
    grid-template-columns: auto;
    margin: 1.5em 0;
  }
  .case-study .research-block div img {
    max-height: 300px;
  }
}
@media (max-width: 650px) {
  .case-study h1 span.subtitle {
    margin-bottom: -5px;
  }
}
@media (max-width: 550px) {
  .case-study .border {
    width: 50%;
    height: 1px;
  }
  .case-study .details {
    grid-template-columns: auto;
    grid-template-rows: 1fr 3px 1fr 3px 0.7fr;
    text-align: center;
  }
  .case-study .details div ul {
    list-style: none;
    padding: 0;
  }
}
.city {
  transition: all 250ms ease;
  background-color: #F3EBE3;
  overflow-x: hidden;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0;
}
.city > * {
  transition: all 250ms ease;
}
.city:before {
  border: 5px solid #744B53;
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}
.city .house-base {
  background-color: #fffdfb;
  bottom: 0;
  margin-top: -100px;
  position: relative;
  width: 100%;
}
.city .house-container {
  bottom: 50px;
  display: flex;
  gap: 0;
  z-index: 10;
}
.city .moon {
  display: none;
}
.city .rail-container {
  bottom: 55px;
  display: flex;
  fill: #744B53;
  gap: 0;
  z-index: 5;
}
.city .skyline {
  fill: #e9d0ca;
  min-height: 300px;
  position: relative;
  top: 35px;
  z-index: 1;
}
.city .sun {
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  display: flex;
  height: 150px;
  justify-content: center;
  position: absolute;
  right: 20%;
  top: 15%;
  width: 150px;
  z-index: 9;
}
.city .sun > div {
  background: white;
  border-radius: 50px;
  height: 75px;
  opacity: 100%;
  width: 75px;
  z-index: 1000;
}
.city .train-cars {
  bottom: 130px;
  display: flex;
  width: 300px;
  z-index: 5;
}
.city svg .accents,
.city svg .house,
.city svg .windows {
  transition: all 250ms ease;
}
.city svg .accents {
  fill: #B39390;
}
.city svg .house {
  fill: #c7aba8;
}
.city svg .windows {
  fill: #e9d0ca;
}
.city.home-page {
  height: 100vh;
  overflow: hidden;
}
.city.home-page > * {
  position: absolute;
}
.city.home-page .house-base {
  background-color: #c7aba8;
  bottom: 0;
  height: 60px;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: 11;
}
.city.home-page .skyline {
  bottom: 0;
  position: absolute;
  top: auto;
}

.city.night {
  transition: all 250ms ease;
  background-color: #6d7f76;
}
.city.night > * {
  transition: all 250ms ease;
}
.city.night:before {
  border-color: #fff;
}
.city.night .house-base {
  background-color: #4E6255;
}
.city.night .moon {
  color: white;
  display: block;
  height: 100px;
  opacity: 90%;
  position: absolute;
  right: 22%;
  top: 17%;
  transform: rotateY(180deg) rotate(25deg);
  width: 100px;
}
.city.night .rail-container {
  fill: #4E6255;
}
.city.night .skyline {
  fill: #4E6255;
}
.city.night .sun {
  display: none;
}
.city.night .train-car .train {
  fill: #4E6255;
}
.city.night .train-car .windows {
  fill: #DBDEDC;
}
.city.night svg .accents,
.city.night svg .house,
.city.night svg .windows {
  transition: all 250ms ease;
}
.city.night svg .accents {
  fill: #6d7f76;
}
.city.night svg .house {
  fill: #829087;
}
.city.night svg .windows {
  fill: #DBDEDC;
}
.city.night.home-page {
  background-color: #4E6255;
}
.city.night.home-page .house-base {
  background-color: #829087;
}
.city.night.home-page .skyline {
  fill: #9CA7A0;
}

.houses {
  height: 100px;
}

svg.rail {
  height: 75px;
}

svg.train-car .train {
  color: #744B53;
}
svg.train-car .windows {
  color: #F3EBE3;
}

@media (max-width: 1000px) {
  .city .sun {
    height: 100px;
    width: 100px;
  }
  .city .sun > div {
    height: 50px;
    width: 50px;
  }
}
.home {
  color: #744B53;
  font-weight: 200;
  left: 20%;
  position: fixed;
  top: 35%;
  transition: color 250ms ease;
}
.home h1 {
  font-size: 80px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 0.85;
  margin: 0;
}
.home p {
  letter-spacing: 1px;
  margin: 0;
  text-align: right;
}

.night .home {
  color: #fff;
  transition: color 250ms ease;
}

@media (max-width: 700px) {
  .home {
    left: 15%;
  }
  .home h1 {
    font-size: 65px;
  }
  .home p {
    margin: 3px -50px 0 0;
    text-align: right;
  }
}
@media (max-width: 490px) {
  .home {
    left: 12%;
  }
  .home h1 {
    font-size: 48px;
  }
  .home p {
    flex-direction: column;
    margin: 10px 0 0 0;
  }
}
nav {
  display: contents;
}

.external-links,
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #744B53;
}
.external-links li,
nav ul li {
  align-items: center;
  display: flex;
}
.external-links a,
nav ul a {
  color: inherit;
  font-weight: 300;
  text-decoration: none;
  opacity: 100%;
}
.external-links a:hover,
nav ul a:hover {
  opacity: 85%;
}

.nav-ribbon {
  display: flex;
  justify-content: space-between;
  left: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 900;
}
.nav-ribbon .day-night-toggle {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  display: flex;
  height: 35px;
  position: relative;
  transition: all 150ms ease;
  width: 70px;
  z-index: 20;
}
.nav-ribbon .day-night-toggle svg {
  color: #B39390;
  padding-left: 35px;
}
.nav-ribbon .day-night-toggle:before {
  background-color: #744B53;
  border-radius: 50px;
  content: "";
  height: 25px;
  left: 5px;
  position: absolute;
  transition: transform 150ms ease;
  transform: translateX(0);
  width: 25px;
}
.nav-ribbon .nav-drawer-toggle {
  background: transparent;
  border: none;
  color: #744B53;
  display: none;
}

.night .nav-ribbon .day-night-toggle {
  background-color: #DBDEDC;
  transition: all 150ms ease;
}
.night .nav-ribbon .day-night-toggle svg {
  color: #4E6255;
  padding: 0;
}
.night .nav-ribbon .day-night-toggle:before {
  transition: all 150ms ease;
  background-color: #4E6255;
  transform: translateX(35px);
}
.night .nav-ribbon .nav-drawer-toggle {
  color: #fff;
}

.drawer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
}
.drawer-container .close-drawer-button {
  background: transparent;
  border: none;
  color: #744B53;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.drawer-container .internal-links {
  flex-direction: column;
  font-size: 20px;
  gap: 40px;
  margin-bottom: 80px;
}
.drawer-container .internal-links li a {
  text-align: center;
}

.night.drawer-container nav ul, .night.drawer-container button {
  color: #fff;
}

.footer-block .external-links {
  color: #fff;
}

@media (max-width: 700px) {
  .nav-ribbon .nav-drawer-toggle {
    display: block;
  }
  .nav-ribbon nav {
    display: none;
  }
}
.page-container {
  color: #744B53;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 2em;
  position: relative;
  width: 85%;
  z-index: 5;
}
.page-container h1 {
  margin-bottom: 0em;
}
.page-container h2 {
  width: 100%;
}

.night .page-container {
  color: #fff;
}

.city.projects-page,
.city.advanced-settings-page,
.city.about-page {
  background-color: #e9d0ca;
}
.city.projects-page .house-base,
.city.advanced-settings-page .house-base,
.city.about-page .house-base {
  background: #fffdfb;
}
.city.projects-page .skyline,
.city.advanced-settings-page .skyline,
.city.about-page .skyline {
  fill: #fffdfb;
}
.city.projects-page h1,
.city.advanced-settings-page h1,
.city.about-page h1 {
  margin-top: 0;
}

.city.night.projects-page,
.city.night.about-page,
.city.night.advanced-settings-page {
  background-color: #6d7f76;
}
.city.night.projects-page .house-base,
.city.night.about-page .house-base,
.city.night.advanced-settings-page .house-base {
  background: #4E6255;
}
.city.night.projects-page .skyline,
.city.night.about-page .skyline,
.city.night.advanced-settings-page .skyline {
  fill: #4E6255;
}

.projects {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  margin: 2em 0;
  width: 100%;
}
.projects .projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects h3 {
  font-weight: 300;
  margin: 0 0 0.1em;
  text-align: center;
}

.big {
  grid-column: 1/span 2;
}

.project-card {
  color: #744B53;
  text-decoration: none;
}
.project-card .project-image {
  align-items: center;
  background-color: #B39390;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-bottom: 10px;
  position: relative;
  transition: all 150ms ease;
}
.project-card .project-image > * {
  transition: all 150ms ease;
}
.project-card .project-image .card-text {
  background: #F3EBE3;
  color: #744B53;
  font-family: "Hedvig Letters Serif", serif;
  opacity: 0%;
  padding: 6px;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  top: 50%;
  width: 75%;
}
.project-card .project-image img {
  max-height: 290px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
}
.project-card .project-image:after {
  border: 3px solid #F3EBE3;
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.project-card .project-image:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}
.project-card .project-image:hover .card-text {
  opacity: 100%;
}
.project-card .project-image:hover > * {
  transition: all 150ms ease;
}
.project-card .project-image:hover img {
  filter: blur(5px);
  transform: scale(1.06);
}
.project-card p {
  color: #744B53;
  font-weight: 300;
  margin: 5px 0;
}

.night .project-card .card-text {
  background: #4E6255;
  color: #fff;
}
.night .project-card .project-image {
  background-color: #9CA7A0;
}
.night .project-card .project-image:after {
  border: 3px solid #fff;
}
.night .project-card .project-tags .project-tag {
  border: 1px solid #fff;
}
.night .project-card a,
.night .project-card h2,
.night .project-card h3,
.night .project-card p {
  color: #fff;
}

@media (max-width: 700px) {
  .big {
    grid-column: 1;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
.app {
  position: relative;
}
.app .city {
  z-index: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: 200;
}

h1,
h2,
.header {
  font-family: "Hedvig Letters Serif", serif;
}

.external-link {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
.external-link svg {
  width: 16px;
}
.external-link.icon-on-hover svg {
  opacity: 0;
  transition: all 100ms ease;
}
.external-link.icon-on-hover:hover svg {
  opacity: 100%;
  transition: all 100ms ease;
}

.invisible {
  clip: rect(0, 0, 0, 0);
  height: 0;
  overflow: hidden;
  width: 0;
}

.footer-block {
  color: #744B53;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding-bottom: 1.5em;
}
.footer-block a {
  font-size: 14px;
}
.footer-block button {
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.night .footer-block {
  color: #fff;
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 18px;
  }
}